body {
  background-color: #162447;
}

#current_date {
  color: white;
  font-family: sans-serif;
  background-color:#ffc7c7;
  border: 1rem solid #ffc7c7;
  border-radius: 5rem;
  b
}
.main-content
{
  background-color: white;
  padding-right: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  padding-top:1rem;
}

.todo {
  display: flex;
  justify-content: center;
  border: 1rem solid white;
  border-radius: 1rem;
  height: auto;
  width: 20rem;
  text-align: center;
  /* padding: 1rem 1rem 1rem 1rem  ; */


}
#enterdolist
{
  margin-left: 1rem;
}

#inside__list {
  color: black;
  font-family: sans-serif;
  font-size: 20px;
}
