<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ToDoList</title>
  <link rel="stylesheet" type="/text/css" href=" ../public/css/style.css">
</head>

<body>
  <h1 id="current_date">Current Date : <%= kingOfDay %> </h1>

  <form action="/" method="post">
    <ul>
      <li>Buy food</li>
      <li>Cook Food</li>
      <li>Eat Food</li>
      <li><%= newitem %> </li>
    </ul>
  <input type="text" name="set_items" >
  <button type="button" name="Add">ADD</button>
  </form>

</body>

</html>
