
body{
    background-color: #0f4c81;
    background-position: center;
    position: static;
    cursor: auto;
    border: 0vmax;
}
h3{
    font-size: 15px;
    color :white;
    font-size: large;
    text-align: left;
    border: 0vmax solid purple;
}
h2{
    color :white;
    text-align: left;
    font-size: large;
    border:10px solid #30475e ;
    border-width: 10px;
    border-radius: initial;
    height: auto;
}
div{
    color :black;
    content: normal;
    size: 0vmax;
}
