body{
    background-color: #111d5e;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
.form-container
{
    
    display: grid;
    grid-template-columns: auto auto;
    margin: 10rem 10rem 10rem 5rem; 
    width: 50%;
    height: auto;
    
}